<nav class="purple lighten-2 ">
    <div class="nav-wrapper ">
        <a href="#!" class="brand-logo right"><i class="fas fa-terminal"></i>Dev Stories</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="/stories">Dev Stories</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li> 
        </ul>
    
    </div>
</nav>

