{{!-- <nav class="purple lighten-2 ">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Dev Stories</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="/stories">Dev Stories</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li> 
        </ul>
    
    </div>
</nav> --}}




<nav>
  <div class="nav-wrapper">
    <a href="/dashboard" class="brand-logo logo"><i class="fas fa-terminal"></i>Dev Stories</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
                <a href="/stories">Dev Stories</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
    </ul>
  </div>
</nav>