<h3><i class="fas fa-terminal"></i> Dev Stories</h3>
<div class="section">
    <p class="lead">Share your Dev Stories and Project Ideas to Help Newbies Create a Portfolio</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Login with Google</a>
</div>