body{
  background-color: #CEC2FF;
}

p {
  margin: 10px 0 !important;
}

.login-container {
   display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 250px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.logo{
  margin-left: 10px;
}


